# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs

Debug
/bis-lw2/bis-lw2/input.txt
/bis-lw8/bis-lw8/*.bmp
/bis-lw8/bis-lw8/src.bmp
/bis-lw8/bis-lw8/text.txt
/bis-lw8/bis-lw8/hiew32demo
/bis-lw8/bis-lw8/decoded.txt
/bis-lw10/bis-lw10/encoded.txt
/bis-lw12/bis-lw12/Source.cpp
